body {
    background-color: black;
    color: rgba(255,255,255,0.8);
    font-family: 'Arapey', serif;
}

#mainText{
    font-size: 30px;
}

#landing{
    height: 100vh;
    background-image: url("../images/tiles.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 30vh;
}

.container-quote{
    background-image: url("../images/greek.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.activator1{
  size: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

p{
    font-size: 22px;
}



/* contact */

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
    font-size: 20px;
}

input[type=text],
input[type=email],
textarea{
    height:35px;
    border:1px solid #ddd;
    padding: 0 10px;
    font-size:14px;
}

textarea {
    height: 200px;
}

input[type=submit] {
    background: #2c2c2c;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}

@media screen and (max-width: 980px) {
    body {
        max-width: 90%;
        margin: 0 auto;
    }

    .main-section {
        max-width: none;
    }

    .sidebar {
            float: left;
    }

    #masthead {
            left: 0;
    }

    footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 0;
    }

}

@media screen and (max-width: 768px){
   body {
       max-width: 90%;
       margin: 0 auto;
   } 
}

@media screen and (max-width: 640px) {
    body {
        max-width: 90%;
        margin: 0 auto;
    }

    h3, .sidebar {
        padding-bottom: none;
    }

    footer {
        padding: 0;
    }
}



#main{height: 100vh;
    background-image: url("../images/tiles.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

#quote{
    background-image: url("../images/greek.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#resume{
  background-image: url("../images/concrete_seamless.png");
  
}
